extends layout
block appbar
  
  - user = JSON.parse(user)
  - scenarios = JSON.parse(scenarios)
    
  .appbar
    .item
      each scenario, i in scenarios  
        if scenario.active == true
          #escenarios  #{scenario.database}
    .item
      #menuapps.menuapps
    .item
      #loginbar #{user.username}
      
  
  //- script.
  //-   // set user from Back
  //-   var user = '!{user}';
  //-   user = JSON.parse(user);
  script(src="#{url_agendador}/socket.io/socket.io.js")
  script(type="text/javascript").
    // set token from url to local storage
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;
        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    var token = getUrlParameter('t');
    localStorage.setItem('access_token', token);       
    
    // socket io
    var socket = io.connect('#{url_agendador}');
    socket.emit('testconnection');
    socket.on('testthis', function(data){
      $('#message').html(data);
    });
  
  
    
  
